html {
  font-family: 'Helvetica',Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
  box-sizing: border-box;
  background-color: $si-color-white;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button{
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

canvas {
  display: block;
}
